---
import Layout from '../layouts/Layout.astro';

const works = [
	{
		name: 'Web Developer',
		at: 'Karya Inovasi Anak Bangsa',
		city: 'Banjarnegara',
		startAt: new Date('2022-01-01'),
		endAt: new Date('2024-06-22'),
		works: [
			'Scraping service mutasi rekening bank',
			'Website integrasi scraping real time',
			'E-Commerce backend service'
		],
		stacks: ['Vue', 'Laravel', 'Puppeteer', 'MongoDB', 'Web Socket']
	},
	{
		name: 'Web Developer',
		at: 'Prioritas Web Teknologi',
		city: 'Sleman',
		startAt: new Date('2022-06-22'),
		endAt: null,
		works: [
			'Website ERP Multilevel',
			'Website Audit Kearsipan Instansi',
			'Website Penjualan Tiket Acara',
			'Website Landing Page dan Berita Instansi',
			'Website Chatbot Produk ERP Multilevel'
		],
		stacks: ['Vue', 'Laravel', 'Web Socket', 'MySQL', 'Redis', 'OpenAi API', 'Tailwind', 'Nuxt', 'Whatsapp Cloud API', 'JSON API']
	},
	{
		name: 'Blogger',
		at: 'sysym.dev',
		city: 'Sleman',
		startAt: new Date('2023-08-97'),
		endAt: null,
		works: [
			'Menulis artikel dan tips seputar pemrograman',
		],
		stacks: ['Hugo', 'Tailwind']
	}
]

const projects = [
	{
		name: 'sysym.dev',
		url: 'https://sysym.dev',
		description: 'Blog artikel dan tips seputar pemrograman'
	},
	{
		name: 'Al-Quran Web',
		url: 'https://qurandigital.online',
		description: 'Baca al-Quran, terjemahan dan tafsir online'
	},
	{
		name: '1001 Tools',
		url: 'https://sysym.dev/1001-tools',
		description: 'Kumpulan tool online'
	},
	{
		name: 'Web Todo',
		url: 'https://sysym.dev/todo',
		description: 'Aplikasi todo berbasis web sederhana'
	}
]

const contacts = [
	{
		name: 'Email',
		values: [
			'ibrahimalanshor6@gmail.com',
			'info@sysym.dev'
		]
	},
	{
		name: 'Web',
		values: [
			'ibrahimalanshor.github.io',
			'sysym.dev'
		]
	},
	{
		name: 'Github',
		values: [
			'ibrahimalanshor',
			'sysym-dev'
		]
	},
	{
		name: 'Facebook',
		values: [
			'sysym-dev'
		]
	},
	{
		name: 'Twitter',
		values: [
			'sysym-dev'
		]
	},
	{
		name: 'Linkedin',
		values: [
			'ibrahimalanshor'
		]
	},
]
---

<Layout>
	<header>
		<nav>
			<a href="">Ibrahim</a>
			<div>
				<a href="">Tentang</a>
				<a href="">Pekerjaan</a>
				<a href="">Proyek</a>
				<a href="">Kontak</a>
			</div>
		</nav>
		<div>
			<h1>Ibrahim Al Anshor</h1>
			<p>Saya seorang full-stack web developer, aktif menulis di sysym.dev dan mahasiswa Informatika di Universitas Teknologi Yogyakarta.</p>
			<p>Berikut teknologi yang biasa saya gunakan:</p>
			<ul>
				<li>Javascript, Typescript, HTML, CSS</li>
				<li>Vue, Nuxt, Tailwind</li>
				<li>PHP, Node Js</li>
				<li>Laravel, Express Js, Adonis Js, Nest Js</li>
				<li>MySQL, MongoDB</li>
				<li>Docker, Git, Linux, WebSocket</li>
			</ul>
		</div>
	</header>

	<section>
		<h2>Riwayat Pekerjaan</h2>

		<div>
			{works.map(work => <div>
				<h3>{work.name}</h3>
				<p>{work.at} - {work.city}</p>
				<p>{work.startAt} - {work.endAt ?? 'Sekarang'}</p>
				<hr />
				<p>Mengerjakan:</p>
				<ul>
					{work.works.map(work => <li>{work}</li>)}
				</ul>
				<p>Teknologi yang digunakan:</p>
				<ul>
					{work.stacks.map(stack => <li>{stack}</li>)}
				</ul>
			</div>)}
		</div>
	</section>

	<section>
		<h2>Proyek Personal</h2>

		<div>
			{projects.map(project => <div>
				<h3>{project.name}</h3>
				<a href="">{project.url}</a>
				<p>{project.description}</p>
			</div>)}
		</div>
	</section>

	<section>
		<h2>Hubungi Saya</h2>
		<p>Saya terbuka untuk kerja sama, hubungi saya di tautan berikut:</p>

		<ul>
			{contacts.map(contact => <li>
				<span>{contact.name}:</span>
				{contact.values.map((value, i) => <span>{value}{i !== contact.values.length - 1 ? ' / ' : ''}</span>)}
			</li>)}
		</ul>
	</section>
</Layout>
